<div id="routine-board">
  <nav class="w-full py-2 relative shadow-md">
    <button
      id="logout-btn"
      class="block pt-2 pb-2 pl-3 pr-3 rounded-xl ml-2 font-bold"
    >Log Out</button>
  </nav>
  <header>
    <h1 class="text-center font-medium text-6xl mt-5 tracking-widest">WEEKLY
      ROUTINE</h1>
    <img
      id="logo"
      src="images/spot-logo.png"
      alt="logo of a gold stick figure holding a barbell"
    />
  </header>
  <div
    class="flex flex-wrap justify-center space-x-10 h-full"
    id="routine-divs"
  >
    <div
      class="flex flex-col md:flex-row max-w-xl rounded-lg shadow-lg mt-7"
      id="routine-cards"
    >
      <div
        class="p-20 flex flex-col justify-center items-center"
        id="monday-card"
      >
        <h5
          class="card-header text-xl leading-tight font-medium mb-2"
        >Monday</h5>


{{#if mondayRoutine}}
        <a class="new-routine-link card-desc text-base mb-4" href="#" data-day="Monday" data-routine_id="{{mondayRoutine.id}}">
          {{mondayRoutine.name}}
       </a>
    {{else}}
       <iconify-icon
          class="justify-center new-routine-icon"
          icon="el:plus-sign"
          style="color: #e6b325;"
          width="50"
          height="50"
          data-day="Monday"
        ></iconify-icon>
    {{/if}}

        
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row max-w-xl rounded-lg shadow-lg mt-7"
      id="routine-cards"
    >
      <div
        class="p-20 flex flex-col justify-center items-center"
        id="tuesday-card"
      >
        <h5 class="card-header text-xl font-medium mb-2">Tuesday</h5>
        
{{#if tuesdayRoutine}}
        <a class="new-routine-link card-desc text-base mb-4" href="#" data-day="Tuesday" data-routine_id="{{tuesdayRoutine.id}}">
          {{tuesdayRoutine.name}}      
       </a>
    {{else}}
       <iconify-icon
          class="justify-center new-routine-icon"
          icon="el:plus-sign"
          style="color: #e6b325;"
          width="50"
          height="50"
          data-day="Tuesday"
        ></iconify-icon>
    {{/if}}

      </div>
    </div>
    <div
      class="flex flex-col md:flex-row max-w-xl rounded-lg shadow-lg mt-7"
      id="routine-cards"
    >
      <div
        class="p-20 flex flex-col justify-center items-center"
        id="wednesday-card"
      >
        <h5 class="card-header text-xl font-medium mb-2">Wednesday</h5>
       
{{#if wednesdayRoutine}}
        <a class="new-routine-link card-desc text-base mb-4" href="#" data-day="Wednesday" data-routine_id="{{wednesdayRoutine.id}}">
          {{wednesdayRoutine.name}}      
       </a>
    {{else}}
       <iconify-icon
          class="justify-center new-routine-icon"
          icon="el:plus-sign"
          style="color: #e6b325;"
          width="50"
          height="50"
          data-day="Wednesday"
        ></iconify-icon>
    {{/if}}

      </div>
    </div>
    <div
      class="flex flex-col md:flex-row max-w-xl rounded-lg shadow-lg mt-7"
      id="routine-cards"
    >
      <div
        class="p-20 flex flex-col justify-center items-center"
        id="thursday-card"
      >
        <h5 class="card-header text-xl font-medium mb-2">Thursday</h5>
       
{{#if thursdayRoutine}}
        <a class="new-routine-link card-desc text-base mb-4" href="#" data-day="Thursday" data-routine_id="{{thursdayRoutine.id}}">
          {{thursdayRoutine.name}}      
       </a>
    {{else}}
       <iconify-icon
          class="justify-center new-routine-icon"
          icon="el:plus-sign"
          style="color: #e6b325;"
          width="50"
          height="50"
          data-day="Thursday"
        ></iconify-icon>
    {{/if}}
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row max-w-xl rounded-lg shadow-lg mt-7"
      id="routine-cards"
    >
      <div
        class="p-20 flex flex-col justify-center items-center"
        id="friday-card"
      >
        <h5 class="card-header text-xl font-medium mb-2">Friday</h5>
          
{{#if fridayRoutine}}
        <a class="new-routine-link card-desc text-base mb-4" href="#" data-day="Friday" data-routine_id="{{fridayRoutine.id}}">
          {{fridayRoutine.name}}      
       </a>
    {{else}}
       <iconify-icon
          class="justify-center new-routine-icon"
          icon="el:plus-sign"
          style="color: #e6b325;"
          width="50"
          height="50"
          data-day="Friday"
        ></iconify-icon>
    {{/if}}
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row max-w-xl rounded-lg shadow-lg mt-7"
      id="routine-cards"
    >
      <div
        class="p-20 flex flex-col justify-center items-center"
        id="saturday-card"
      >
        <h5 class="card-header text-xl font-medium mb-2">Saturday</h5>
         
{{#if saturdayRoutine}}
        <a class="new-routine-link card-desc text-base mb-4" href="#" data-day="Saturday" data-routine_id="{{saturdayRoutine.id}}">
          {{saturdayRoutine.name}}      
       </a>
    {{else}}
       <iconify-icon
          class="justify-center new-routine-icon"
          icon="el:plus-sign"
          style="color: #e6b325;"
          width="50"
          height="50"
          data-day="Saturday"
        ></iconify-icon>
    {{/if}}
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row max-w-xl rounded-lg shadow-lg mt-7"
      id="routine-cards"
    >
      <div
        class="p-20 flex flex-col justify-center items-center"
        id="sunday-card"
      >
        <h5 class="card-header text-xl font-medium mb-2">Sunday</h5>
       
{{#if sundayRoutine}}
       <a class="new-routine-link card-desc text-base mb-4" href="#" data-day="Sunday" data-routine_id="{{sundayRoutine.id}}">
          {{sundayRoutine.name}}      
       </a>
    {{else}}
       <iconify-icon
          class="justify-center new-routine-icon"
          icon="el:plus-sign"
          style="color: #e6b325;"
          width="50"
          height="50"
          data-day="Sunday"
        ></iconify-icon>
    {{/if}}
      </div>
    </div>
  </div>
</div>

<script>
  const links = document.querySelectorAll('.new-routine-link');

  if (links.length) {
    links.forEach(function(link) {
      link.addEventListener('click', function(event) {
        event.preventDefault();
        const day = this.dataset.day;
        const routineId = this.dataset.routine_id;
        console.log(day, routineId);
        document.location.replace(`/routine/${routineId}?day=${day}`);
      });
    });
  }

  const icons = document.querySelectorAll('.new-routine-icon');
  
  const { compareDateToDay } = require(js/daySwitcher);

  if (icons.length) {
    icons.forEach(function(icon) {
      icon.addEventListener('click', function() {
        const day = this.dataset.day;
        const response = await fetch("/api/routines", {
          method: 'POST', 
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            name: 'Test Example', 
            scheduled: 
          });
        });
        document.location.replace(`/routine?day=${day}`);
      });
    });
  }
 
  //exercise.html LOGOUT (button id="logout-btn"), + BUTTON for ROUTINE DAY OF THE WEEK (button), PREVIOUS WORKOUTS (? a or button)
const logout = async () => {
    const response = await fetch('/api/users/logout', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
    });
  
    if (response.ok) {
      document.location.replace('/login');
    } else {
      alert(response.statusText);
    }
  };
  
  document
  .querySelector('#logout-btn')
  .addEventListener('click', logout);
</script>