<div id="routine-board">
  <nav class="w-full py-2 relative shadow-md">
    <button
      id="logout-btn"
      class="block pt-2 pb-2 pl-3 pr-3 rounded-xl ml-2 font-bold"
    >Log Out</button>
  </nav>
  <header>
    <h1 class="text-center font-medium text-6xl mt-5 tracking-widest">WEEKLY
      ROUTINE</h1>
    <img
      id="logo"
      src="images/spot-logo.png"
      alt="logo of a gold stick figure holding a barbell"
    />
  </header>
  <div
    class="flex flex-wrap justify-center space-x-10 h-full"
    id="routine-divs"
  >
    <div
      class="flex flex-col md:flex-row max-w-xl rounded-lg shadow-lg mt-7"
      id="routine-cards"
    >
      <div
        class="p-20 flex flex-col justify-center items-center"
        id="monday-card"
      >
        <h5
          class="card-header text-xl leading-tight font-medium mb-2"
        >Monday</h5>


{{#if mondayRoutine}}
        <a class="new-routine-link card-desc text-base mb-4" href="#" data-day="Monday" data-routine_id="{{mondayRoutine.id}}">
          {{mondayRoutine.name}}
       </a>
    {{else}}
    <button></button>
       {{!-- <iconify-icon --}}
          class="justify-center new-routine-icon"
          icon="el:plus-sign"
          style="color: #e6b325;"
          width="50"
          height="50"
          data-day="Monday"
          <button></button>
        {{!-- ></iconify-icon> --}}
    {{/if}}

        
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row max-w-xl rounded-lg shadow-lg mt-7"
      id="routine-cards"
    >
      <div
        class="p-20 flex flex-col justify-center items-center"
        id="tuesday-card"
      >
        <h5 class="card-header text-xl font-medium mb-2">Tuesday</h5>
        
{{#if tuesdayRoutine}}
        <a class="new-routine-link card-desc text-base mb-4" href="#" data-day="Tuesday" data-routine_id="{{tuesdayRoutine.id}}">
          {{tuesdayRoutine.name}}      
       </a>
    {{else}}
    <button id="plus-btn"
        class="block pt-3 pb-3 pl-6 pr-6 rounded-lg w-full mt-5 font-bold"
        type="submit">+</button>

       {{!-- <iconify-icon --}}
          {{!-- class="justify-center new-routine-icon"
          icon="el:plus-sign"
          style="color: #e6b325;"
          width="50"
          height="50"
          data-day="Tuesday" --}}
          
        {{!-- ></iconify-icon> --}}
    {{/if}}

      </div>
    </div>
    <div
      class="flex flex-col md:flex-row max-w-xl rounded-lg shadow-lg mt-7"
      id="routine-cards"
    >
      <div
        class="p-20 flex flex-col justify-center items-center"
        id="wednesday-card"
      >
        <h5 class="card-header text-xl font-medium mb-2">Wednesday</h5>
       
{{#if wednesdayRoutine}}
        <a class="new-routine-link card-desc text-base mb-4" href="#" data-day="Wednesday" data-routine_id="{{wednesdayRoutine.id}}">
          {{wednesdayRoutine.name}}      
       </a>
    {{else}}
    <button></button>
       {{!-- <iconify-icon --}}
          class="justify-center new-routine-icon"
          icon="el:plus-sign"
          style="color: #e6b325;"
          width="50"
          height="50"
          data-day="Wednesday
          <button></button>"
        {{!-- ></iconify-icon> --}}
    {{/if}}

      </div>
    </div>
    <div
      class="flex flex-col md:flex-row max-w-xl rounded-lg shadow-lg mt-7"
      id="routine-cards"
    >
      <div
        class="p-20 flex flex-col justify-center items-center"
        id="thursday-card"
      >
        <h5 class="card-header text-xl font-medium mb-2">Thursday</h5>
       
{{#if thursdayRoutine}}
        <a class="new-routine-link card-desc text-base mb-4" href="#" data-day="Thursday" data-routine_id="{{thursdayRoutine.id}}">
          {{thursdayRoutine.name}}      
       </a>
    {{else}}
    <button></button>
       {{!-- <iconify-icon --}}
          class="justify-center new-routine-icon"
          icon="el:plus-sign"
          style="color: #e6b325;"
          width="50"
          height="50"
          data-day="Thursday"
          <button></button>
        {{!-- ></iconify-icon> --}}
    {{/if}}
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row max-w-xl rounded-lg shadow-lg mt-7"
      id="routine-cards"
    >
      <div
        class="p-20 flex flex-col justify-center items-center"
        id="friday-card"
      >
        <h5 class="card-header text-xl font-medium mb-2">Friday</h5>
          
{{#if fridayRoutine}}
        <a class="new-routine-link card-desc text-base mb-4" href="#" data-day="Friday" data-routine_id="{{fridayRoutine.id}}">
          {{fridayRoutine.name}}      
       </a>
    {{else}}
    <button></button>
       {{!-- <iconify-icon --}}
          class="justify-center new-routine-icon"
          icon="el:plus-sign"
          style="color: #e6b325;"
          width="50"
          height="50"
          data-day="Friday"
          <button></button>
        {{!-- ></iconify-icon> --}}
    {{/if}}
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row max-w-xl rounded-lg shadow-lg mt-7"
      id="routine-cards"
    >
      <div
        class="p-20 flex flex-col justify-center items-center"
        id="saturday-card"
      >
        <h5 class="card-header text-xl font-medium mb-2">Saturday</h5>
         
{{#if saturdayRoutine}}
        <a class="new-routine-link card-desc text-base mb-4" href="#" data-day="Saturday" data-routine_id="{{saturdayRoutine.id}}">
          {{saturdayRoutine.name}}      
       </a>
    {{else}}
    <button></button>
       {{!-- <iconify-icon --}}
          class="justify-center new-routine-icon"
          icon="el:plus-sign"
          style="color: #e6b325;"
          width="50"
          height="50"
          data-day="Saturday"
          <button></button>
        {{!-- ></iconify-icon> --}}
    {{/if}}
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row max-w-xl rounded-lg shadow-lg mt-7"
      id="routine-cards"
    >
      <div
        class="p-20 flex flex-col justify-center items-center"
        id="sunday-card"
      >
        <h5 class="card-header text-xl font-medium mb-2">Sunday</h5>
       
{{#if sundayRoutine}}
       <a class="new-routine-link card-desc text-base mb-4" href="#" data-day="Sunday" data-routine_id="{{sundayRoutine.id}}">
          {{sundayRoutine.name}}      
       </a>
    {{else}}
    <button></button>
       {{!-- <iconify-icon --}}
          class="justify-center new-routine-icon"
          icon="el:plus-sign"
          style="color: #e6b325;"
          width="50"
          height="50"
          data-day="Sunday"
          <button></button>
        {{!-- ></iconify-icon> --}}
    {{/if}}
      </div>
    </div>
  </div>
</div>

<script src="/js/home.js"></script>